@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* HEADER */

header{
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
}
header h2{
    margin: auto 0;
}
header ul{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
header ul li{
    margin: auto;
}
header ul li a{
    color: black;

}

/* INICIO */

#top{
    height: 400px;
    background: linear-gradient(to top, rgba(30,35,38,.2), rgba(30,35,38,.4)), url(../img/portada.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
#top div{
    margin: 0 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;

}
#top div h1{
    font-size: 2.5em;
    margin: 2vw 0 3vw 0;
}
#top div p{
    font-size: 23px;
}
#top .topButtons{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
#top .topButton{
    padding: 20px 25px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}
#top .topButton:hover{
    margin: -2px 0 2px 0;
}
#top #topButton1{
    color: black;
    background-color: white;
}
#top #topButton2{
    border: solid;
    color: white;
}

/* GALLERY */

#gallery{
    padding: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}
#gallery #img-container{
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
#gallery #img-container .image{
    margin: auto;
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery .image div{
    /* height: 100%; */
    width: 80%;
    transform: scaleX(-1);
    text-align: center;
    gap: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

  @keyframes flip-vertical-bck1 {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
  }

  @keyframes flip-vertical-bck2 {
    0% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  
  
/* VISIT */

#visit{
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#visit #info-container{
    margin: 30px 0 50px 0;
    width: 80%;
    display: flex;
    justify-content:space-around;
}
#visit div{
    text-align: center;
}
#visit i{
    font-size: 30px;
}